.ui-btn {
    margin-top: 18px;
    margin-bottom: 18px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.ui-btn span {
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
}

.jumbotron {
    margin-bottom: 1vh;
}

#btnleave {
    margin-left: 25vw;
    margin-right: 25vw;
}